* {
    border: none;
    border-radius: 0;
    font-family: Fira Code Nerd Font;
    min-height: 20px;
	 font-size: 15px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
	margin-right: 8px;
	/* padding: 3px;  */
	border-radius: 14px;
	transition: none;
	background: #313244;
}

#tray {
   margin-right: 8px;
	padding: 7px;
   border-radius: 14px;
   transition: none;
   background: #313244;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 7px;
}

#workspaces button.persistent {
    color: #cdd6f4;
    font-size: 14px;
}

#workspaces button.active {
	color: #a6e3a1;
}

#custom-pacman {
	border-radius: 14px;
	padding-left: 10px;
	padding-right: 10px;
	background: #74c7ec;
	color: #313244;
	margin-right: 8px;
}

#network {
	border-radius: 14px;
	padding-left: 10px;
	padding-right: 10px;
	background: #74c7ec;
	color: #313244;
	margin-right: 8px;
}

#window {
	border-radius: 14px;
	padding-left: 8px;
	padding-right: 8px;
	background: #f9e2af;
	color: #313244;
}

window#waybar.empty #window {
    background-color: transparent;
}

#language {
	border-radius: 14px;
	padding-left: 10px;
	padding-right: 10px;
	background: #f38ba8;
	color: #313244;
	margin-right: 8px;
}

#pulseaudio {
	border-radius: 14px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	background: #cba6f7;
	color: #313244;
	font-size: 16px;
}

#pulseaudio.muted {
	background-color: #f38ba8;
}

#cpu {
	border-radius: 14px;
	padding-left: 10px;
	padding-right: 10px;
	background: #eba0ac;
	color: #313244;
	margin-right: 8px;
}

#clock {
	border-radius: 14px;
	padding-left: 10px;
	padding-right: 10px;
	background: #f5e0dc;
	color: #313244;
	margin-right: 8px;
}
